
.heading, #random, #search, #login, #keyword, #commit, #login, #signin, #searchResults, #hist, .mostPopular, #popularResults, .popularResults, .right{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center; 
}

.heading{
    padding-top: 10px;
}

.mostViewed, .mostPopular, .mostDisliked{
    padding-right: 50px;
    padding-bottom: 50px;

    
}

footer{
    border-top: black 100px;
    text-align:center;
}

body, head, header{
    background-color: orange;
}

#add_search_playlist0{
    background-color: #4CAF50;
}

.logo, img{
    padding-left: 5px;
}